<% if current_user != @user %>
  <div id="like_form_<%= micropost.id %>">
  <% if current_user.like?(micropost) %>
    <%= render 'users/dislike' , micropost: micropost  %>
  <% else %>
    <%= render 'users/like' , micropost: micropost %>
  <% end %>
  </div>
<% end %>