<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<h3>
  <div class="form-group">
    <label for="profile" class="control-label col-md-6" align="right">Profile:</label>
      <div class="col-md-6">
        <%= @user.profile %>
      </div>
  </div>
</h3>
<br>
<h3>
  <div class="form-group">
    <label for="profile" class="control-label col-md-6" align="right">E-mail:</label>
      <div class="col-md-6">
        <%= @user.email %>
      </div>
  </div>
</h3>